<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/npm/css-toggle-switch@latest/dist/toggle-switch.css"/>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="static/ui.js" type="text/javascript"></script>
<script src="static/backend.js" type="text/javascript"></script>

<script type="text/javascript">
    axios.defaults.baseURL = "http://localhost:8080"
</script>
<head>
    <meta charset="UTF-8">
    <title>Stenhammargatan 3</title>
</head>

<body>

<div class="w3-container w3-cell-row w3-teal">
    <h1>Lisa & Johan</h1>
</div>

<div class="w3-container w3-margin">
    <button onclick="openAccordion('living-room')"
            class="w3-btn w3-block w3-gray w3-left-align w3-round-xlarge w3-text-white">Vardagsrum
    </button>
    <div id="living-room" class="w3-hide">

        <!-- Tv light -->
        <div class="w3-cell-row w3-margin-top w3-padding w3-bottombar w3-border-teal">
            <div class="w3-cell w3-cell-middle">TV-belysning</div>
            <div class="w3-cell w3-cell-middle w3-center">

                <label class="switch-light switch-candy w3-margin-bottom">
                    <input type="checkbox"
                           onchange="onTvBackgroundStateSwitch(this)" {{if .tv_background_light.State}} checked {{end}}>
                    <span>
                        <span>Off</span>
                        <span>On</span>
                        <a></a>
                      </span>
                </label>

                <select class="w3-select w3-border w3-margin-bottom" name="option" onchange="onTvBackgroundModeChange(this.value)">
                    <option value="0" {{if eq .tv_background_light.Mode 0}} selected {{end}}>Standard</option>
                    <option value="1" {{if eq .tv_background_light.Mode 1}} selected {{end}}>Cirkel</option>
                    <option value="2" {{if eq .tv_background_light.Mode 2}} selected {{end}}>Blinkning</option>
                    <option value="3" {{if eq .tv_background_light.Mode 3}} selected {{end}}>Motsatt håll</option>
                    <option value="4" {{if eq .tv_background_light.Mode 4}} selected {{end}}>Jaga svans</option>
                    <option value="5" {{if eq .tv_background_light.Mode 5}} selected {{end}}>Kram</option>
                </select>

                <select class="w3-select w3-border" name="option" onchange="onTvBackgroundSpeedChange(this.value)">
                    <option value="1" {{if eq .tv_background_light.Speed 1}} selected {{end}}>1</option>
                    <option value="2" {{if eq .tv_background_light.Speed 2}} selected {{end}}>2</option>
                    <option value="3" {{if eq .tv_background_light.Speed 3}} selected {{end}}>3</option>
                    <option value="4" {{if eq .tv_background_light.Speed 4}} selected {{end}}>4</option>
                    <option value="5" {{if eq .tv_background_light.Speed 5}} selected {{end}}>5</option>
                </select>
            </div>
        </div>


    </div>
</div>
</body>

</html>